.Photos img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  
  .Photos img {
    border-radius: 4px;
    justify-content: center;
    margin: 12px 0px 12px;
    transition: transform 0.25s ease;
  }